<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Aspava">
    <meta name="author" content="Batuhan Taşkaya">
    <title>{% block title %}Aspava{% endblock %}</title>
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link href="{% static 'css/init.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'home' %}">Aspava</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_post' %}">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_link' %}">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_snippet' %}">Snippet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="feeded">
        {% block content %}{% endblock %}
      </div>

    </main>
    {% bootstrap_javascript jquery='full' %}
    {% block js %}{% endblock %}
    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>

