{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block css %}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
        {% load renderer %}
        {% for item in feed %}
            {% as_html item %}
        {% endfor %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}
{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>    
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
