{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block css %}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
{% endblock %}
{% block content %}
    {% load renderer %}
    {% for item in feed %}
    <div class="container-fluid __{{ item | get_class }}">
        <fieldset class="border p-2">
            <legend class="w-auto"><a href="{% url 'profile' item.author %}">{{ item.author }}</a></legend>
            {% as_html item %}
            <small class="text-muted">{{ item.pub_date }}</small>
            {% if item.author == request.user %}
            <small class="text-muted"><a href="{% get_delete item %}">delete</a></small>
            {% endif %}
        </fieldset>
    </div>
    {% endfor %}
{% endblock %}
{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>    
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
